.App {
  text-align: center;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.loader div{
  width: 50px !important;
  height: 50px !important;
}
.mainbodymar{
  min-height: 59vh;
}
@media (max-width: 992px){
  .mainbodymar{
    margin-top: 120px ;
  } 
}
@media (min-width: 992px){
  .mainbodymar{
  margin-top: 160px;
  }

}