.App {
  text-align: center;
}

.loader{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.loader div{
  width: 50px !important;
  height: 50px !important;
}
.mainbodymar{
  min-height: 85vh;
}
.reports{
  padding-bottom: 20px;
}
@media (max-width: 992px){
  .reports{
    padding-top: 120px ;
  } 
  .profilecon{
    padding-top: 120px ;
  }
}
@media (min-width: 992px){
  .reports{
  padding-top: 160px;
  }
  .profilecon{
    padding-top: 120px ;
  }
}

